/* Reset default margin and padding */
body {
    font-family: 'Inter', sans-serif;
    color: #000; /* Use hex color for consistency */
    background-color: #ccc; /* Use hex color for consistency */
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #acaeff;
    padding: 20px; /* Add padding for better spacing */
    overflow: auto; /* Clear float */
}

/* Container for header content */
.container {
    width: 80%;
    margin: 0 auto; /* Shorter margin syntax */
    color:red;
}

/* Navigation styling */
nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul{
    color:red;
}
nav ul li {
    display: inline; /* Change from inline-block to inline */
    margin-right: 20px;
    
    
}

nav ul li:last-child {
    margin-right: 0;
}

/* Home button styling */
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #2980b9;
}

/* Box styling */
.box {
    display: inline-block;
    background-color: #adacac; /* Use hex color for consistency */
    color: #fff;
    padding: 0 20px; /* Add padding for better spacing */
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

/* Image styling */
.friends {
    width: 100px;
    border-radius: 20px;
}

.friends:hover {
    background-color: red;
    box-shadow: 0 4px 8px rgba(233, 233, 233, 0.1);
}

/* GitHub link styling */
.github {
    display: inline-block;
    background: #4e9caf; /* Use hex color for consistency */
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

/* Additional box styling */
.git {
    vertical-align: top;
    margin-bottom: 50px;
}

.intro-text {
    font-weight: bold;
    font-size: 50px;
    display: inline-block;
    box-shadow: 1px 1px 5px lightblue;
    border-radius: 10px;
    text-decoration: none;
}
nav ul li a{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box-shadow on hover */
    border-radius: 5px; /* Add border-radius for rounded corners */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    text-decoration:underline color(srgb red green blue);
    padding: 5px 10px;
}
.dev-pic{
    width:300px;
    border-radius: 10px;
}
.images{
    display:inline-block;
    margin: 10px 20px;
}
.container2{
    display: inline-block;
    vertical-align: top;
    margin-left: 300px;
    margin-top:10px;
    width: 600px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

